<div class="title-section">
  <h2>About <em>PokemonApp:</em></h2>
</div>

<div class="container">
  <div class="content">
    <div class="info-section">
      <p>This is an app developed as part of the <b>Single Page Application Development</b> module within the <b>Java dot-Net</b> course  offered by the <em>Upskill</em> program.</p>
      <p>The project consists of a frontend using <b>Angular</b>, which is an open-source web application framework. </p>
      <p>By utilizing the services offered by the web API  <a href="https://softwium.com/api/pokemons" target="_blank">Softwium</a>, users can explore a vast array of Pokémon-related content and functionalities.</p>
      <p>From discovering detailed information about different Pokémon species to managing your own collection, this app aims to fulfill the diverse interests of Pokémon fans worldwide! </p>
    </div>

    <div class="image-container">
      <img src="/assets/images/angular.png" alt="Angular">
      <img src="/assets/images/upskill.png" alt="Programa Upskill">
    </div>
  </div>
</div>


